<div class="footer">
  <div class="footer__devider">*****</div>
  <ul class="organizers">
    <li class="organizers__item">
      <span class="name"><a href="https://seanglover.com/">Sean Glover</a></span><br /><span class="twitter"><a href="https://twitter.com/seg1o/">@seg1o</a></span>
    </li>
    <li class="organizers__sep">/</li>
    <li class="organizers__item">
      <span class="name"><a href="https://twitter.com/katrinsh/">Katrin Shechtman</a></span><br /><span class="twitter"><a href="https://twitter.com/katrinsh/">@katrinsh</a></span>
    </li>
  </ul>
  <div class="footer__label">Toronto, Ontario, Canada</div>
</div>