<div class="footer">
  <div class="footer__devider">*****</div>
  <div class="footer__label">Made with ❤ in Toronto 2015</div>
  <ul class="organizers">
    <li class="organizers__item">
      <span class="name"><a href="https://seanglover.com/">Sean Glover</a></span><br /><span class="twitter"><a href="https://twitter.com/randonom/">@randonom</a></span>
    </li>
    <li class="organizers__sep">/</li>
    <li class="organizers__item">
      <span class="name"><a href="https://twitter.com/katrinsh/">Katrin Shechtman</a></span><br /><span class="twitter"><a href="https://twitter.com/katrinsh/">@katrinsh</a></span>
    </li>
  </ul>
</div>