<header class="header">
    <div class="fleft navigation">
        <div class="fleft logo-container">
          <img class="logo-img animated zoomIn" src="/assets/img/scalator-transparent.png" alt="{{ site.title }}" />
        </div>
        <div class="fleft nav-menu-container">
          <a href="/" class="logo">{{ site.title }}</a>

          <ul class="menu">
              <li class="menu__entry"><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
              <li class="menu__entry"><a href="{{ '/blog/' | prepend: site.baseurl }}">Blog</a></li>
              <li class="menu__entry"><a href="{{ '/talks/' | prepend: site.baseurl }}">Talks</a></li>
              <li class="menu__entry"><a href="{{ '/initiatives/' | prepend: site.baseurl }}">Initiatives</a></li>
              <li class="menu__entry"><a href="{{ '/resources/' | prepend: site.baseurl }}">Resources</a></li>              
          </ul>
        </div>
    </div>

    <ul class="social-links">
        {% if site.author.github %}
            <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
                <i class="fa fa-github"></i>
            </a>
        {% endif %}

        {% if site.author.twitter %}
            <a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        {% endif %}
    </ul>
</header>
<hr class="rule-one">